/*-------------------------*\
    #FONTS
\*-------------------------*/

$font-header: normal 18px/1.4 'Red Hat Display', Helvetica Neue, Arial, sans-serif;
$font-body: normal 18px/1.4 'Red Hat Display', Helvetica Neue, Arial, sans-serif;
$font-cursive: 'DM Serif Display', serif;

$font-xxl: 3em;
$font-xl: 2.225em;
$font-large: 1.475em;
$font-medium: 1.275em;
$font-regular: 1em;
$font-small: 0.88em;
$font-xs: 0.8em;

/*-------------------------*\
    #COLOURS
\*-------------------------*/

$clr-primary: #eecb99;
$clr-secondary: #4b3009;
$clr-third: #1e5836;
$clr-white: #fff;
$clr-text: #444;
$clr-shade: #efefef;

/*-------------------------*\
    #MISC.
\*-------------------------*/

$bold-weight: 700;
$medium-weight: 500;
$border-radius: 5px;