/*-------------------------*\
    #FONTS
\*-------------------------*/

$font-header: normal 18px/1.5 poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-body: normal 22px/1.8 quicksand, Helvetica Neue, Arial, sans-serif;
$font-cursive: "brush-script-std", sans-serif;

$font-xxl: 3.5em;
$font-xl: 3em;
$font-large: 2.5em;
$font-medium: 1.2em;
$font-regular: 0.94em;
$font-small: 0.78em;
$font-xs: 0.72em;

/*-------------------------*\
    #COLOURS
\*-------------------------*/

$clr-primary: #36175e;
$clr-primary-dark: darken($clr-primary, 5%);
$clr-primary-light: lighten($clr-primary, 20%);
$clr-secondary: #e87e04;
$clr-white: #fff;
$clr-shade: #f3f2f5;
$clr-dark: #010101;

/*-------------------------*\
    #MISC.
\*-------------------------*/

$bold-weight: 700;
$border-radius: 6px;