@import 'reset';

/*-------------------------*\
    #GLOBAL
\*-------------------------*/

body {
  background-color: $clr-white;
  font: $font-body;
  height: 100%;
}

a {
  color: $clr-secondary;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration-color: $clr-secondary;
}

.inner {
  margin: 0 auto;
  max-width: 1420px;
  padding: 0 2rem;

  &--narrow {
    max-width: 1120px;
  }
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="date"],
textarea {
  border: solid 2px $clr-white;
  border-radius: $border-radius;
  font-size: $font-regular;
  font: $font-body;
  padding: 0.675rem;
}

button {
  border: 0;
  font: $font-body;
  font-size: $font-regular;
}

select {
  border: solid 1px $clr-secondary;
  border-radius: $border-radius;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

/*-------------------------*\
    #TYPOGRAPHY
\*-------------------------*/

h1, h2, h3, h4, h5, h6 {
  font: $font-header;
  font-weight: $bold-weight;
  margin: 0 0 0.45em 0;
}
h1, .font-xxl {
  font-size: $font-xxl;
  line-height: 1.1;
}
h2, .font-xl {
  font-size: $font-xl;
  line-height: 1.2;
}
h3, .font-large {
  font-size: $font-large;
  line-height: 1.3;
}
.h4, .font-medium {
  font-size: $font-medium;
  line-height: 1.4;
}
.h5, p, .font-regular {
  font-size: $font-regular;
  line-height: 1.6;
}
.font-small {
  font-size: $font-small;
}
.font-xs {
  font-size: $font-xs;
}
.font-cursive {
  font-family: $font-cursive;
  letter-spacing: 1px;
}
p {
  margin-bottom: 1.25em;

  &:last-of-type {
    margin-bottom: 0;
  }
}
b, strong {
  font-weight: $bold-weight;
}
ul, ol {
  margin-bottom: 0.75em;
}
li {
  line-height: 1.5;
  margin-bottom: 0.75em;
  padding-left: 1em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 6px;
    height: 6px;
    border-top: solid 1px $clr-secondary;
    border-right: solid 1px $clr-secondary;
    transform: rotate(45deg);
  }
}

/*-------------------------*\
    #SPLIDE
\*-------------------------*/

.splide {
  padding-bottom: 4rem;
}
.splide__track {
  border-radius: $border-radius;
}
.splide__slide {
  padding: 0;
  
  &::before {
    display: none;
  }
}
.splide__arrows {
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  left: 0;
  position: absolute;
}
.splide__arrow {
  position: relative !important;
  top: 0 !important;
  transform: initial !important;

  &--prev {
    left: 0 !important;
  }
  &--next {
    right: 0 !important;
  }
}
.splide__pagination {
  justify-content: flex-end !important;
  padding: 0 !important;

  li {
    margin-left: 0.25rem !important;
    padding: 0;

    &::before {
      display: none;
    }
  }
}
.splide__pagination__page {
  background: $clr-primary !important;
  height: 14px !important;
  width: 14px !important;

  &.is-active {
    background: $clr-secondary !important;
  }
}

/*-------------------------*\
    #FLEX CONTAINER
\*-------------------------*/

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.flex-container--gutter {
  gap: 2rem;
}
.flex-container--align-center {
  align-items: center;
}
.flex-container--align-bottom {
  align-items: flex-end; 
}
.flex-container--just-right {
  justify-content: flex-end;
}
.flex-container--just-left {
  justify-content: flex-start;
}
.flex-container--space-between {
  justify-content: space-between;
}

/*-------------------------*\
    #GRID CONTAINER
\*-------------------------*/

.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

/*-------------------------*\
    #FORM
\*-------------------------*/

.form__card {
  border: solid 1px $clr-shade;
  border-radius: $border-radius;
  padding: 2rem;
}
.form__text {
  margin-top: 1rem;
}
.form__fields {
  margin-top: 2rem;
}
.form__action {
  margin-top: 2rem;
}
.form__row {
  padding-left: 0;
  
  &::before {
    display: none;
  }
}